.elementor-60 .elementor-element.elementor-element-7f173f1 > .elementor-container > .elementor-column > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-60 .elementor-element.elementor-element-9eb3e98 .elementor-text-editor {text-align: left;}
.elementor-60 .elementor-element.elementor-element-9eb3e98 {color: #252525;font-family: "Roboto",Sans-serif;font-size: 20px;font-weight: 400;}
.elementor-60 .elementor-element.elementor-element-5582aba > .elementor-container > .elementor-column > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-60 .elementor-element.elementor-element-e2c8921 .elementor-text-editor {text-align: left;}
.elementor-60 .elementor-element.elementor-element-e2c8921 {color: #252525;font-family: "Roboto",Sans-serif;font-size: 20px;font-weight: 400;}
@media (min-width:768px) {.elementor-60 .elementor-element.elementor-element-3ffdaad {width: 19.85%;}
	.elementor-60 .elementor-element.elementor-element-30af9d7 {width: 79.815%;}
	.elementor-60 .elementor-element.elementor-element-a14b76a {width: 19.85%;}
	.elementor-60 .elementor-element.elementor-element-47bec14 {width: 79.815%;}}